ul {
  list-style: none;
  position: relative;
  /*   height: 120px; */
}

li {
  width: 100px;
  line-height: 2em;
  text-align: center;
  transition: all 0.9s ease-out;
  position: absolute;

  left: 0;
}

.content1 {
  background-color: #eee;
  /*   top: 0; */
}

.content2 {
  background-color: #ddd;
  /*   top: 30px; */
}

.content3 {
  background-color: #ccc;
  /*   top: 60px; */
}

.content4 {
  background-color: #bbb;
  /*   top: 90px; */
}

[data-pos="1"] {
  top: 0;
}

[data-pos="2"] {
  top: 30px;
}

[data-pos="3"] {
  top: 60px;
}

[data-pos="4"] {
  top: 90px;
}

[data-pos="5"] {
  top: 120px;
}

/* li:nth-child(1) {
  transform: translateY(0%);
  top: 0px;
}

li:nth-child(2) {
  transform: translateY(100%);
  top: 30px;
}

li:nth-child(3) {
  transform: translateY(200%);
  top: 60px;
}

li:nth-child(4) {
  transform: translateY(300%);
  top: 90px;
} */
